---
# tasks file for vault

- name: Include distribution specific variables
  include_vars: "{{ ansible_os_family }}.yml"
  tags: vault

- include: common.yml
  tags: vault

- include: "{{ ansible_os_family }}.yml"
  tags: vault

- name: Create Vault configuration file
  template: >
    src=vault.hcl.j2
    dest={{ vault_config_dir }}/vault.hcl
    owner=root
    group=vault
    mode=0640
  notify: restart vault
  tags: vault

- name: Check Capabilities for vault
  command: getcap {{ vault_install_dir }}/vault
  register: capabilities_result
  changed_when: "'cap_ipc_lock+ep' not in capabilities_result.stdout"
  tags: vault

- name: Give vault access to mlock syscall
  capabilities: >
    path={{ vault_install_dir }}/vault
    capability='cap_ipc_lock=+ep'
    state=present
  when: capabilities_result|changed
  tags: vault

- name: Ensure Vault service is started and enabled on boot
  service: name={{ vault_service_name }} state=started enabled=yes
  tags: vault
